body, html {
  margin: 0;
  background-color: #efefef;
  font-family: "Roboto";
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
}

.app-progress {
  position: fixed;
  z-index: 1090;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Utility classes */

.mt-auto {
  margin-top: auto;
}

.mb-2 {
  margin-bottom: 16px;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}
